/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

.navbar {
  background-color: #343a40;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.nav-item {
  color: white;
}

.navbar-brand {
  padding-left: 2%;
}

.site-footer {
  background-color: #343a40;
  color: white;
  padding: 3%;
}

.footer-content {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body {
  margin-left: 12.3%;
  margin-right: 12.3%;
  margin-top: 7%;
  margin-bottom: 2%;
  background-color: #D3D3D3;
  padding: 3%;
  padding-top: 60px;
  padding-bottom: 4.5vh;
}

.body-title {
  margin-left: 4px;
  font-size: 8vh;
}

.body-text {
  margin-left: 7px;
  font-size: 2vh;
}

.card {
  margin-bottom: 15%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.card-img-top {
  width: 100%;
  height: 400px;
}

.card-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-text {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn.body {
  margin-left: 10px;
  background-color: #0d6efd;
}

.btn {
  width: 150px;
  padding: 10px 20px;
  color: white;
  border: none;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-lg-3 {
  width: 19%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
    align-items: center;
  }

  .col-lg-3 {
    width: 90%;
  }
}